{{!--
  {{users.[0].name}}
--}}
<div class="container">
  <div class="row">
    {{#each users as |user|}}
      <div class="col-4 gy-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text">{{user.email}}</p>
            <a href="users/{{user.id}}" class="btn btn-primary">view detail</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
